<h1>Login Required</h1>
 
<p>You need to log in to continue.</p>
 
{{#if login_failed }} 
    <p>Login failure!</p>
{{/if}}
 
<form method="post">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username">
    <br />
    <label for="password">Password:</label>
    <input type="password" name="password" id="password">
    <br />
    <input type="submit" value="Login">
 
    {{#if return_url }} 
        <input type="hidden" name="return_url" value="{{ return_url }}">
    {{/if}}
 
    {{#if reset_password_handler }}
        <h2>Password reset</h2>
        <p>Enter your username to obtain an email to reset your password</p>
        <label for="username_reset">Username:</label>
        <input type="text" name="username_reset" id="username_reset">
        <input type="submit" name="submit_reset" value="Submit">
    {{/if}}
 
</form>
