<!doctype html>
<html>
  <head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">
    <!-- Quarren CSS -->
    <link rel='stylesheet' type='text/css' href='/css/admin.css'>
    <!-- Quarren JS -->
    <script src='/js/admin.js'></script>
  </head>
  <body>
    <nav class='navbar sticky-top navbar-expand-lg'>
      <a class='navbar-brand' href='/admin'>Quarren</a>  <!-- Logo, later -->
      <button class="navbar-toggler" type="button" data-toggle="collapse"
	      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
	      aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class='navbar-nav'>
          <li class='nav-item'><a class='nav-link' href='/'>Visit site</a></li>
          <li class='nav-item'><a class='nav-link' href='/admin'>Dashboard</a></li>
        </ul>
      </div>
    </nav>
    <div class='main-content'>
        {{{ content }}}
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
	    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
	    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
	    crossorigin="anonymous"></script>
  </body>
</html>
